# Place in /lib/systemd/system/
# Warning: no user specified for ExecStart, thus it will run as root unless specified via systemctl
# Modify ExecStart to point to the script location

[Unit]
Description=Inquisitor GitHub Query Automation
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/github/inquisitor/.env/bin/python3/ /github/inquisitor/inquisitor.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
